<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Play&display=swap"
      rel="stylesheet"
    />
    <title>Cheats</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <span class="navbar-brand">
        <a href="../index.html"
          ><img
            id="navLogo"
            src="../css/images/TransparantLogo.png"
            class="d-inline-block align-top"
            alt="NavLogo"
        /></a>
      </span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="./me.html">Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./cheats.html">Cheat Sheets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container dark-container top-container">
      <div class="light-container">
        <h3><u>Resources, Notes, Mini Projects and Links</u></h3>
      </div>
      <div class="light-container card-container">
        <div class="card">
          <a href="./cheatViews/cheatLinks.html">
            <img src="../css/images/poly.svg" alt="HTML5 Logo" />
            <h5>General Links</h5>
          </a>
        </div>
        <div class="card">
          <a href="./cheatViews/html5.html">
            <img src="../css/images/html5.svg" alt="HTML5 Logo" />
            <h5>HTML</h5>
          </a>
        </div>
        <div class="card">
          <a href="./cheatViews/responsive.html">
            <img src="../css/images/css3.svg" alt="CSS3 Logo" />
            <h5>Responsive Design</h5>
          </a>
        </div>
        <div class="card">
          <a href="./cheatViews/cssthings.html">
            <img src="../css/images/css3.svg" alt="CSS3 Logo" />
            <h5>CSS Things</h5>
          </a>
        </div>
        <div class="card">
          <a href="./cheatViews/cheattemplates.html">
            <img
              src="../css/images/html5.svg"
              alt="HTML5 Logo"
              style="max-width: 60px;"
            />
            <img
              src="../css/images/css3.svg"
              alt="CSS3 Logo"
              style="max-width: 60px;"
            />
            <img
              src="../css/images/javascript.svg"
              alt="JS Logo"
              style="max-width: 60px;"
            />
            <img
              src="../css/images/bootstrap.svg"
              alt="Bootstrap Logo"
              style="max-width: 60px;"
            />
            <img
              src="../css/images/semantic.svg"
              alt="Bootstrap Logo"
              style="max-width: 60px;"
            />
            <h5>Page Templates</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/javascript.svg" alt="JS Logo" />
            <h5>Vanilla JS</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/javascript.svg" alt="JS Logo" />
            <h5>Smaller JS Libraries</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/react.svg" alt="React Logo" />
            <img src="../css/images/redux.svg" alt="Redux Logo" />
            <h5>React/Redux</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/node.svg" alt="Node Logo" />
            <h5>NodeJS</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/java.svg" alt="Java Logo" />
            <h5>Java</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/mysql.svg" alt="mySQL Logo" />
            <h5>mySQL</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/mongodb.svg" alt="noSQL Logo" />
            <h5>noSQL</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <img src="../css/images/git.svg" alt="Git Logo" />
            <h5>Git</h5>
          </a>
        </div>
        <div class="card">
          <a href="">
            <!-- <img src="../css/images/git.svg" alt="Git Logo" /> -->
            <h5>Other Stuff</h5>
          </a>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
