<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Play&display=swap"
      rel="stylesheet"
    />
    <title>Me</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <span class="navbar-brand">
        <a href="../index.html"
          ><img
            id="navLogo"
            src="../css/images/TransparantLogo.png"
            class="d-inline-block align-top"
            alt="NavLogo"
        /></a>
      </span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="./me.html">Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./cheats.html">Cheat Sheets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container dark-container top-container">
      <div class="light-container">
        <h3><u>Bio/Interests</u></h3>
      </div>
      <br />
      <p>
        I'm a 26 year old wanna be software developer from Galway with a masters
        degree in software design and development from NUIG.
      </p>
      <p>
        As far as tech/development goes, I am interested in pretty much
        everything. My main interests are focused around full-stack
        development/web development with a slight preference for front-end. I
        like working with JavaScript and NodeJS and am currently working on
        getting better with them and their asscociated frameworks and libraries.
        Beyond full stack development, I like woking with UAV's and computer
        vision due to their combined ability to automate manual tasks. At some
        point down the line I would also like to learn more about machine
        learning.
      </p>
    </div>

    <div class="container dark-container">
      <div class="light-container">
        <h3><u>Skill/Technologies</u></h3>
        <h7>Some of the tecnologies I'm familiar with are displayed below</h7>
      </div>
      <div class="light-container card-container">
        <div class="card">
          <img src="../css/images/html5.svg" alt="HTML5 Logo" />
          <h5>HTML</h5>
        </div>
        <div class="card">
          <img src="../css/images/css3.svg" alt="CSS3 Logo" />
          <h5>CSS</h5>
        </div>
        <div class="card">
          <img src="../css/images/javascript.svg" alt="JS Logo" />
          <h5>JavaScript</h5>
        </div>
        <div class="card">
          <img src="../css/images/react.svg" alt="React Logo" />
          <h5>React</h5>
        </div>
        <div class="card">
          <img src="../css/images/redux.svg" alt="Redux Logo" />
          <h5>Redux</h5>
        </div>
        <div class="card">
          <img src="../css/images/node.svg" alt="Node Logo" />
          <h5>NodeJS</h5>
        </div>
        <div class="card">
          <img src="../css/images/java.svg" alt="Java Logo" />
          <h5>Java</h5>
        </div>
        <div class="card">
          <img src="../css/images/python.svg" alt="Python Logo" />
          <h5>Python</h5>
        </div>
        <div class="card">
          <img src="../css/images/mysql.svg" alt="mySQL Logo" />
          <h5>SQL</h5>
        </div>
        <div class="card">
          <img src="../css/images/mongodb.svg" alt="noSQL Logo" />
          <h5>noSQL</h5>
        </div>
        <div class="card">
          <img src="../css/images/git.svg" alt="Git Logo" />
          <h5>Git</h5>
        </div>
        <div class="card">
          <img src="../css/images/bash.svg" alt="Bash Logo" />
          <h5>Bash</h5>
        </div>
        <div class="card">
          <!-- <img src="../css/images/git.svg" alt="Git Logo" /> -->
          <h5>Rest</h5>
        </div>
        <div class="card">
          <!-- <img src="../css/images/bash.svg" alt="Bash Logo" /> -->
          <h5>TDD</h5>
        </div>
        <div class="card">
          <!-- <img src="../css/images/bash.svg" alt="Bash Logo" /> -->
          <h5>Design Patterns</h5>
        </div>
        <div class="card">
          <!-- <img src="../css/images/bash.svg" alt="Bash Logo" /> -->
          <h5>ABM</h5>
        </div>
      </div>
    </div>

    <div class="container dark-container">
      <div class="light-container">
        <h3><u>Todo List</u></h3>
        <h7
          >I'm mostly working on imporving things listed above, although a few
          things I do want to learn in the near future are displayed below</h7
        >
      </div>
      <div class="light-container card-container">
        <div class="card">
          <img src="../css/images/vue.svg" alt="Vue Logo" />
          <h5>Vue</h5>
        </div>
        <div class="card">
          <img src="../css/images/graphql.svg" alt="GraphQL Logo" />
          <h5>GraphQL</h5>
        </div>
        <div class="card">
          <img src="../css/images/d3.svg" alt="D3 Logo" />
          <h5>D3</h5>
        </div>
        <div class="card">
          <img src="../css/images/native.png" alt="Native Logo" />
          <h5>React Native</h5>
        </div>
        <div class="card">
          <img src="../css/images/gulp.svg" alt="Gulp Logo" />
          <h5>Gulp</h5>
        </div>
        <div class="card">
          <img src="../css/images/sass.svg" alt="Sass Logo" />
          <h5>Sass</h5>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
